
// Body
$body-bg: #f8fafc;

// Typography
$primaryFont: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$backgroundColor: #b7c4c8;
$primaryColor: #6f7c91;
$primaryColor_hover: #535d6c;
$black_Alpha_10: rgba(0,0,0,0.1);
$black_10: #e6e6e6;
$black_70: #4d4d4d;

// Icon
$rubrica_icon: url('/svg/rubrica_icon.svg');

// Spaces
.verticalSpace_30 { height: 30px; }
.verticalSpace_15 { height: 15px; }
.verticalSpace_5 { height: 5px; }

