
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

// Normalize
@import 'normalize';

// Variables
@import 'variables';

// General
body {
  font-family: $primaryFont;
  width: 100vw;
  height: 100vh;
  background-color: $backgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  
}

input {
  color: $black_70;
  height: 38px;
  border-radius: 5px;
  border: 1px solid $black_10;
  text-align: center;
  padding: 0;
}

input[type=submit] {
  border: 0;
  background-color: $primaryColor;
  color: $white;
  display: inline-block;
  padding: 0 30px;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: $primaryColor_hover;
  }
}

h4 {
  color: $primaryColor;
  font-size: 28px;
  line-height: 1;
  margin: 0;
  font-weight: 600;
}

h5 {
  color: $backgroundColor;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: $black_70;
  display: inline;

  &:hover {
    text-decoration: underline;
  }
}

.bolder {
  color: $primaryColor;
  font-weight: 600;
}

// Circle Icon
.circleShadow {
  height: 120px;
  width: 120px;
  background-color: $black_Alpha_10;
  margin-top: -60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: $primaryColor;
  }

  .icon {
    width: 100px;
    height: 100%;
    background-image: $rubrica_icon;
  }

// Form Container
.formContainer {
  width: 290px;
  background-color: $white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputContainer {
  text-align: center;
}

/* ----- [ Home ] ----- */

main {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
}

  // Left Column
  .left {
    min-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid $black_15;
    flex: 1;
  }

    .left_top {
      width: 100%;
      height: 80px;
      border-bottom: 1px solid $black_15;
    }

    .left_bottom {
      width: 100%;
      height: 100%;
      background-color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }

      .nameList_wrapper {
        height: 100%;
        width: 100%;
        background-color: yellowgreen;
        flex: 1;
        margin: 20px auto 30px auto;
        opacity: 0.5;
      }

  // Right Column
  .right {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

    .right_top {
      width: 100%;
      height: 80px;
      background-color: $white;
      border-bottom: 1px solid $black_15;
      display: flex;
      justify-content: flex-start;
    }

      .top_menu {
        height: 100%;
        width: 80px;
        border-right: 1px solid $black_15;
      }

      .top_logout {
        height: 100%;
        width: 80px;
        border-right: 1px solid $black_15;
        display: flex;
        align-items: center;
        justify-content: center;
      }

        .icon_logout {
          height: 40px;
          width: 40px;
          background-image: $icon_logout;
          fill: $backgroundColor;

          &:hover {
            fill: $primaryColor;
          }

          &:active {
            height: 37px;
            width: 37px;
          }
        }

      .top_welcome {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
        flex: 1;
      }

    .right_bottom {
      width: 100%;
      height: 100%;
      padding: 30px;
      box-sizing: border-box;
      background-color: $black_05;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }

      .detail_wrapper {
        width: 100%;
        height: 100%;
        background-color: yellow;
        opacity: 0.5;
      }